.feature-bar {
    min-height: 50px;
    grid-template-rows: max-content;
    display: grid;
    width: 100%;
    list-style: none;
}

.feature-line {
    background-color: tomato;
    display: inline-grid;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 2px !important;
}
.feature-line:hover {
    height: 2em;
    padding: 4px 4px 4px 15px;
    border-radius: calc(2em / 2);
}

.feature-line span {
    visibility: hidden;
    font-weight: bold;
    color: #222222;
    font-size: 1em;
}
.feature-line:hover span {
    visibility: visible;
}