.feature-line {
    display: inline-grid;
    height: 5px;
    border-radius: 5px;
    margin-bottom: 5px !important;
    opacity: 50%;
    content: ' ';
}
.feature-line.red {
    background: red;
}
.feature-line.cyan {
    background: cyan;
}
.feature-line.purple {
    background: purple;
}
.feature-line.green {
    background: green;
}

.feature-line:hover,
.feature-line.highlighted {
    opacity: 100%;
}

.feature-line span {
    display: none;
}
.feature-line:hover span {
    display: block;
    position: relative;
    width: fit-content;
    top: 5px;
    background: white;
    padding: 5px;
    z-index: 5;
    font-weight: bold;
    border: gray 1px solid;
}