* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

/* helper class */
p.topline {
    border-bottom: 1px solid gray;
    padding-bottom: 0 !important;
    margin-block-end: 0;
}
body {
    color: #222;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    margin: 0 50px;
}

.react-draggable, .cursor {
    cursor: move;
}
.no-cursor {
    cursor: auto;
}
.cursor-y {
    cursor: ns-resize;
}
.cursor-x {
    cursor: ew-resize;
}

.react-draggable strong {
    background: #ddd;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
    padding: 3px 5px;
    text-align: center;
}

.box {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    width: 180px;
    height: 180px;
    margin: 10px;
    float: left;
}

.box .contents {
    height: 100%;
    padding: 10px;
}

.no-pointer-events {
    pointer-events: none;
}
.hovered {
    background-color: gray;
    opacity: 80%;
}

/* Spacer */
.spacer {
    display: inline;
    height: 180px;
    margin: 10px 0;
    float: left;
}

.active .spacer .drop-target {
    z-index: 6;
    position: absolute;
    margin-left: -40px;
    width: 80px;
    height: 180px;
}

.spacer .drop-target.hovered {
    background-color: transparent;
}

.spacer:after {
    content: '\200b';
}

.spacer .indicator {
    display: none;
    border-radius: 3px;
}
.active .spacer .drop-target:hover ~ .indicator {
    display: block;
    position: relative;
    z-index: 5;
    background: gray;
    height: 180px;
    width: 10px;
}

/* Rearrange Block */
.rearrange-block {
    position: relative;
    z-index: 5;
}

.selected {
    position: absolute;
}

.rearrange-block.react-draggable-dragging {
    z-index: -1;
}