* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    color: #222;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    margin: 0;
}

.feature.react-draggable, .cursor {
    cursor: crosshair;
}

.feature.react-draggable.disabled:not(.react-draggable-dragging), .cursor {
    cursor: context-menu;
}

.feature.react-draggable-dragging, .cursor {
    cursor: ew-resize;
}

.active .drop-target:not(.react-draggable-dragging), .cursor {
    cursor: s-resize;
}

/* Feature */
.feature {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    min-width: 180px;
    min-height: 60px;
    margin: 10px;
    float: left;
    position: relative;
    z-index: 4;
}

.feature.react-draggable-dragging {
    z-index: 5;
}

.no-pointer-events {
    pointer-events: none;
}

/* Spacer */
.spacer {
    display: block;
    position: relative;
    margin: 10px 0;
    float: left;
}
.spacer .drop-target {
    z-index: 6;
}

.active .feature-group .spacer .drop-target {
    z-index: 10;
    position: absolute;
    margin-left: -30px;
    min-height: 60px;
    min-width: 60px;
    background-color: transparent;
}

.spacer:after {
    content: '\200b';
}

.spacer .indicator {
    border-radius: 3px;
    min-height: 60px;
}

.active .spacer:hover .indicator {
    display: block;
    position: relative;
    z-index: 9;
    background: gray;
    width: 10px;
    content: ""
}

.feature-group {
    grid-row: 1;
    height: 80px;
    min-width: 200px;
}

.active .feature-group:hover {
    min-width: 220px;
}

/* Container Classes */
.feature-space {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.feature-space .main {
    flex-direction: row;
    padding: 25px;
}

.feature-space .main.expanded {
    padding-right: 350px;
}

#mainItems {
    display: grid;
    width: 100%;
    padding-top: 20%;
}

/* Selection space */
.feature-space .selection {
    background: whitesmoke;
    flex-basis: 250px;
    height: 100%;
    position: fixed;
    top: 50px;
    right: 0;
    flex-direction: column;
    overflow-y: scroll;
    padding: 25px 25px 75px 25px;
    z-index: 9;
}
