* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    color: #222;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    margin: 0;
}

.react-draggable, .cursor {
    cursor: move;
}

/* Feature */
.feature {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    min-width: 180px;
    min-height: 60px;
    margin: 10px;
    float: left;
    position: relative;
    z-index: 5;
}

.feature.react-draggable-dragging {
    z-index: -1;
}

.no-pointer-events {
    pointer-events: none;
}
.hovered {
    background-color: gray;
    opacity: 80%;
}

/* Spacer */
.spacer {
    display: inline;
    margin: 10px 0;
    float: left;
}

.active .spacer .drop-target {
    z-index: 6;
    position: absolute;
    margin-left: -40px;
    height: 100%;
    min-width: 60px;
    background-color: transparent;
}

.spacer:after {
    content: '\200b';
}

.spacer .indicator {
    display: none;
    border-radius: 3px;
}
.active .spacer .drop-target:hover ~ .indicator {
    display: block;
    position: relative;
    z-index: 5;
    background: gray;
    min-height: 60px;
    width: 10px;
}

.feature-group {
    grid-row: 1;
    min-height: 80px;
    min-width: 198px;
}

/* Container Classes */
.feature-container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

#mainItems {
    display: inline-grid;
    min-height: 80px;
}

.feature-container .main {
    flex-basis: 75%;
    flex-direction: row;
}

.feature-container .available {
    flex-basis: 25%;
    flex-direction: column;
}