.sequence-text {
    width: fit-content;
    margin: 0 auto;
}

.sequence-row {
    display: block;
    margin-bottom: 5px;
}

.sequence-row-group:hover {
    border-radius: 3px;
    background: whitesmoke;
}

.nucleotide {
    display: inline;
    font-size: 2em;
    font-family: "TerminessTTF Nerd Font Mono", monospace;
    padding: 7px;
    text-align: center;
}

.nucleotide:hover {
    background: lightgray;
}